version: 2.1

orbs:
  jira: circleci/jira@1.3.1

workflows:
    build-deploy:
        jobs:
           - build-job
           - deploy:
                name: Dev
                requires:
                - build-job
           #- deploy:
           #     name: Test
           #     requires:
           #     - Dev
           #     environment-type: testing
           #- hold:
           #     type: approval
           #     requires:
           #     - Test                
           - deploy:
                name: Prod
                requires:
                - Dev
                environment-type: production

jobs:
  build-job:
    docker:
      - image: circleci/node:10
    working_directory: ~/version-me
    steps:
      - checkout
      - run: echo "Ola Jira"
      - jira/notify

  deploy:
    parameters:
      environment-type:
        - type: string
        - default: Dev
    docker:
      - image: circleci/note:10
    working_directory: ~/version-me
    steps:
       - checkout
       - run: echo "Ola Deploy doido"
       - jira/notify:
            job_type: deployment
            environment_type: << parameters.environment-type >>